body {
    margin: 0 auto;
    width: 1300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: rgba(140, 10, 13, 1);
}

.logo {
    padding: 15px 0 15px 70px;
}

ul {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 125px;
}

li:first-child {
    padding-left: 0;
}

.link-item {
    text-decoration: none;
    color: #FBC37A;
    font-size: 14px;
}

.link-item:active {
    color: #FFE394;
}

li {
    float: left;
    list-style-type: none;
    padding-left: 30px;
}

.blockButton {
    float: right;
    padding-top: 33px;
    padding-right: 65px;
    padding-left: 10px;
}

.buttonLanguage {
    text-decoration: none;
    color: #FBC37A;
}

.imgLanguage {
    float: right;
    padding-top: 33px;
}

/* Main */

.main {
    width: 100%;
    height: 685px;
    background-color: #F5E8C6;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    background-image: url(./img/background1.png);
    opacity: 0.15;
    position: absolute;
}

.blockPhoto {
    padding-top: 25px;
    padding-left: 65px;
    position: relative;
}

.photoRoshen {
    border:4px groove rgba(53, 4, 12, 1);
}

.span {
    position: absolute;
    top: 55px;
    left: 430px;
    font-size: 60px;
}

.buttonMore {
    width: 190px;
    height: 45px;
    position: absolute;
    right: 555px;
    top: 145px;
    font-size: 24px;
    background-color: rgba(246, 204, 121, 1);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 5px rgba(191, 103, 13, 1);
}

.circle1 {
    width: 18px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 335px;
    left: 667px;
}

.circle2 {
    width: 18px;
    height: 17px;
    background-color: rgba(191, 103, 13, 1);
    border-radius: 50%;
    position: absolute;
    top: 335px;
    left: 643px;
}

.circle3 {
    width: 18px;
    height: 17px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 335px;
    left: 619px;
}

.buttonRight {
    width: 55px;
    height: 55px;
    background-image: url(./img/rightArrow.png);
    background-repeat: no-repeat;
    background-color: inherit;
    position: absolute;
    border: none;
    left: 95px;
    top: 180px;
}

.buttonLeft {
    width: 55px;
    height: 55px;
    background-image: url(./img/rightArrow.png);
    background-repeat: no-repeat;
    background-color: inherit;
    position: absolute;
    border: none;
    transform: rotate(180deg);
    right: 95px;
    top: 180px;
}

/* Text */


.blockText {
    width: 270px;
    position: relative;
    top: 30px;
    float: left;
    font-size: 17px;
    left: 65px;
    overflow: auto;
    text-align: left;
    padding-right: 30px;
}

.articleTitle {
    margin: 0;
    padding-bottom: 40px;
    height: 65px;
}

.article {
    font-size: 16px;
}

/* Footer */

footer {
    background-color: rgba(140, 10, 13, 1);
    padding: 13px 65px 20px 65px;
}


.site {
    display: inline-block;
    font-size: 14px;
    color: #FBC86B;
    text-decoration: none;
}

.address {
    display: inline-block;
    color: #F8C669;
    font-size: 14px;
    padding-left: 100px;
    line-height: 20px;
}

.tell {
    display: inline-block;
    color: #F8C669;
    font-size: 14px;
    padding-left: 100px;
    line-height: 20px;
    text-decoration: none;
}

.mail {
    display: inline-block;
    color: #F8C669;
    font-size: 14px;
    padding-left: 100px;
    line-height: 20px;
    text-decoration: none;
}

.Facebook {
    display: inline-block;
    padding-left: 80px;
}

.vk {
    display: inline-block;
    padding-left: 10px;
}