body {
    background-color: rgb(192, 192, 192);
    margin: 0px auto;
    width: 750px;
    font-family: system-ui;
}

header {
    height: 235px;
    width: 750px;
    background-color: rgba(45, 112, 83, 1);
    background-position: center;
    background-repeat: no-repeat;
    
}

footer {
    height: 155px;
    background-color: rgba(136, 136, 136, 1);
}

span {
    display: inline-block;
}

.ellipse1 {
    float: left;
    padding: 45px 0 45px 35px;
}

.blockText {
    margin: 0 auto;
    padding: 55px 0 55px 60px;
}

.text {
    color: white;
    font-size: 30px;
    margin: 0;
    text-align: left;
    line-height: 1.1;
}

.menu {
    padding: 85px 45px 85px 0;
    float: right;
}

.buttonMenu{
    background-color: inherit;
    padding-top: 13px;
    width: 100px;
    height: 100px;
}

.rectangle {
    padding-bottom: 13px;
}

/* Блок фото и кнопки */

.container {
    width: 750px;
    height: 470px;
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: 750px, 470px;
}

button {
    width: 345px;
    height: 75px;
}

.button1 {
    padding: 370px 205px 0 205px;
}

.buttonText {
    background-color: rgba(203, 146, 35, 1);
    color: white;
    font-size: larger;
}

/* Блок контента */

.blockPhoto {
    padding: 75px 0 45px 45px;
    float: left;
}

.photo {
    border-radius: 50%;
}

.blockMain {
    background-color: white;
}

.blockName {
    margin: 0 auto;
    padding-top: 155px;
    padding-left: 360px;
}

.name {
    font-size: 36px;
    font-weight: 400;
    margin: 0 auto;
}

.blockSpeciality {
    padding-top: 30px;
    padding-left: 360px;
}

.Speciality {
    margin: 0 auto;
    font-size: 24px;
}

.blockDescription {
    padding: 140px 115px 0 45px;
    font-size: 24px;
}

.description {
    margin: 0 auto;
}

.blockLists {
    padding: 45px 45px 0 45px;
    font-size: 36px;
}

.nameLists {
    margin: 0 auto;
}

.lists {
    padding: 45px 0 0 55px;
    font-size: 24px;
}

ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: "-";
    padding-left: 5px;
}

.button2 {
    margin: 0 auto;
    padding: 40px 200px 45px 215px;
}

/* footer */

.ellipse2 {
    padding: 30px 0 25px 45px;
    float: left;
}

.contacts {
    font-size: 18px;
    text-align: right;
    padding: 16px 45px 40px 0;
    color: white;
    white-space: pre;
}

.tel, .mail {
    text-decoration: none;
    color: white;
}